body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
    border: 0px;
    border-radius: 1rem;
    padding: 0.6rem;
    background-color: rgb(12, 189, 130);
    color: white;
    cursor: pointer;
}

button:hover{
  background-color: rgb(92, 255, 201);
  color: black;
  cursor: pointer;
}